body {
    background-color: #fff;
    background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png')
}

.navbar {
    background-color: #444;
    height: 100px;
}

.mid-heading {
    right: 600px; 
    position: relative; 
    -webkit-text-fill-color: beige;
    font-style: italic;
}
.nav-brand {
    text-decoration: none;
    color: #ccc;
}

.nav-list {
    margin: 0;
    margin-left: 800px;
    float: right;
    list-style-type: none;
    margin-top: 15px;
}

.nav-list-item {
    display: inline-block;
    margin-right: 50px;
    position: relative;
    bottom: 60px;
}
.search {
    box-sizing: border-box;
    position: relative;
    bottom: 45px;
}

.nav-list-item a {
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
}

 .Artist {
    width: 300px;
    height: 0px;
    box-align: left;
    margin-left: 240px;
    position: relative;
}
.carousel-inner {
    height: 320px ;
    position: relative;
    top: 1px;
}
.Logo {
    width: 400px;
    height: 260px;
    bottom: 20px;
    position: relative;
    left: 550px;
}
.Pexel {
    width: 300px;
    height: 315px;
    position: relative;
    left: 560px;
    top: 10px;
}
.content {
    display: flex;
}
.articles {
    padding: 30px;
    width: 40%;
    position: relative;
    left: 75px;
    bottom: 5px;
}
.articles-list {
    left: 200px;
    position: relative;
}
.table-hover {
    width: 700px;
    position: relative;
    table-layout: 150px;
}
.article-headline {
    font-size: 25px;
    margin-left: 500px;
    width: 400px;
    padding: 2px;
}

.advertisement {
    padding: 30px;
    background-color: #444;
    color: #ccc;
    width: 22%;
    height: 660px;
    position: relative;
    left: 270px;
    top: 60px;
    
}
.advertisement2 {
    padding: 20px;
    height: 660px;
    background-color: #444;
    color: #ccc;
    width: 280px;
    position: relative;
    left: 40px;
    top: 60px;
}

footer {
    text-align: center;
    background-color: #ccc;
}
.firstbar {
    list-style-type: none;
    
}